{% extends "base.html" %}
{% load static %}

{% block javascript %}
    <script defer src="{% static 'photos/common.js' %}"></script>
    <script defer src="{% static 'photos/favorites.js' %}"></script>

    <script>
        let images = {{ photos|safe }}

        document.addEventListener('DOMContentLoaded', () => {
            const favorites = new FavoriteStore()
            const byId = {}
            images.forEach(img => byId[img.id] = img)
            renderFavorites(byId, favorites)
            updateVisibility(favorites)
        })
    </script>
{% endblock %}

{% block navitems %}
    <li>
        <a href="{% url 'index' %}">Map</a>
    </li>
{% endblock %}

{% block content %}
    <div id="noFavs" hidden="" style="display: flex; justify-content: center;">
        <div>You don't have any favorites yet. Find some on the <a href="{% url 'index' %}">map</a>!</div>
    </div>
    <div id="favsContainer"></div>
{% endblock %}
