{#SPDX-FileCopyrightText: 2023 Haiko Schol#}
{#SPDX-License-Identifier: GPL-3.0-or-later#}

{% extends "base.html" %}
{% load static %}

{% block javascript %}
    <script defer src="{% static 'photos/common.js' %}"></script>
    <script defer src="{% static 'photos/favorites.js' %}"></script>

    <script>
        let images = {{ photos|safe }}

        document.addEventListener('DOMContentLoaded', () => {
            const favorites = new FavoriteStore()
            const byHash = {}
            images.forEach(img => byHash[img.sha256] = img)
            renderFavorites(favorites, byHash, document.getElementById('favsContainer'))
            updateVisibility(favorites)
        })
    </script>
{% endblock %}

{% block content %}
    <div id="noFavs" hidden="" style="display: flex; justify-content: center;">
        <div>You don't have any favorites yet. Find some on the <a href="{% url 'index' %}">map</a>!</div>
    </div>
    <div id="favsContainer"></div>
{% endblock %}
