{#SPDX-FileCopyrightText: 2023 Haiko Schol#}
{#SPDX-License-Identifier: GPL-3.0-or-later#}

{% extends "base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'photos/leaflet-1.9.4.css' %}" />

    <style>
        body {
            overflow: hidden;
        }
    </style>
{% endblock %}

{% block javascript %}
    <script defer src="{%  static 'photos/leaflet-1.9.4.js' %}"></script>
    <script defer src="{%  static 'photos/common.js' %}"></script>
    <script defer src="{%  static 'photos/app.js' %}"></script>

    <script>
        const defaultZoomLevel = {{ default_zoom }}
        const maxZoomLevel = {{ max_zoom }}
        const defaultRadius = {{ default_radius }}
        const iconFavorite = '{% static 'photos/favorite-filled.svg' %}'
        const iconNonFavorite = '{% static 'photos/favorite.svg' %}'
        const shareIcon = '{% static 'photos/share.svg' %}'
        const accessToken = '{{ access_token|safe }}'
        let photos = {{ photos|safe }}

        document.addEventListener('DOMContentLoaded', () => init('cattos', accessToken).catch(console.error))
    </script>
{% endblock %}

{% block nav %}
<li>
    <details id="placesDropdown" role="list" style="z-index: 1000">
        <summary aria-haspopup="listbox" role="button">Places</summary>
        <ul id="placesUl" role="listbox">
        </ul>
    </details>
</li>
{% endblock %}

{% block content %}
    <div id="cattos"></div>
{% endblock %}
