{%  load static  %}
<!doctype html>
<html lang="en">
<head>
    <title>Cats Of Asia</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link rel="icon" href="{% static 'photos/apple-touch-icon.png' %}">
    <link rel="apple-touch-startup-image" href="{% static 'photos/apple-touch-icon.png' %}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <link rel="stylesheet" href="{% static 'photos/style.css' %}">

    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="{%  static 'photos/common.js' %}"></script>
    <script src="{%  static 'photos/app.js' %}"></script>
    <style>
        body {
            overflow: hidden;
        }
    </style>
</head>
<body>
<main class="container-fluid">
    <nav>
        <ul>
            <li><strong>Cats Of Asia</strong></li>
            <li>
                <details id="placesDropdown" role="list" style="z-index: 1000">
                    <summary aria-haspopup="listbox" role="button">Places</summary>
                    <ul id="placesUl" role="listbox">
                    </ul>
                </details>
            </li>
            <li id="favoritesNavItem" hidden="">
                <a href="{% url 'favorites' %}">Favorites</a>
            </li>
        </ul>
    </nav>
    <div id="cattos"></div>
</main>
<script>
    const defaultZoomLevel = {{ default_zoom }}
    const maxZoomLevel = {{ max_zoom }}
    const defaultRadius = {{ default_radius }}
    const iconFavorite = '{% static 'photos/favorite-filled.svg' %}'
    const iconNonFavorite = '{% static 'photos/favorite.svg' %}'
    const shareIcon = '{% static 'photos/share.svg' %}'
    const accessToken = '{{ access_token|safe }}'
    let images = {{ photos|safe }}

    init('cattos', accessToken).catch(console.error)
</script>
</body>
</html>
