{#SPDX-FileCopyrightText: 2023 Haiko Schol#}
{#SPDX-License-Identifier: GPL-3.0-or-later#}

{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'photos/toast.css' %}">
{% endblock %}

{% block javascript %}
    <script type="module" src="{% static 'photos/components/uploader.js' %}"></script>
    <script type="module" src="{% static 'photos/upload.js' %}"></script>
{% endblock %}

{% block content %}
    {% csrf_token %}
    <input type="hidden" id="jsonRpcUrl" value="{% url 'endpoint' %}" />
    <label for="picker">Choose one or more photos</label>
    <input type="file" id="picker" accept="image/jpeg" multiple />

    <div id="uploaderContainer"></div>
{% endblock %}
