{#SPDX-FileCopyrightText: 2023 Haiko Schol#}
{#SPDX-License-Identifier: GPL-3.0-or-later#}

{% extends 'base.html' %}
{% load static %}

{% block javascript %}
    <script defer src="https://cdn.jsdelivr.net/npm/exifr/dist/lite.umd.js"></script>
    <script>
        const jsonRpcUrl = "{% url 'endpoint' %}";
    </script>
    <script type="module" src="{% static 'photos/upload.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="grid">
        <img id="preview" src="" alt="Preview of the photo you selected" hidden="" />
        <form id="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="photo">Choose a photo</label>
            <input type="file" id="photo" name="photo" accept="image/jpeg" />

            <label for="city">City</label>
            <input type="text" id="city" name="city" />

            <div id="candidates" hidden="hidden">
                <label for="cityCandidates">City Candidates</label>
                <select id="cityCandidates"></select>
            </div>

            <label for="country">Country</label>
            <input type="text" id="country" name="country" />

            <input type="submit" id="submit" name="submit" value="Upload" disabled />
        </form>
    </div>
{% endblock %}
