{%  load static  %}
<!doctype html>
<html lang="en">
<head>
    <title>Cats Of Asia</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link rel="icon" href="{% static 'apple-touch-icon.png' %}">
    <link rel="apple-touch-startup-image" href="{% static 'apple-touch-icon.png' %}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<main class="container-fluid">
    <nav>
        <ul>
            <li><strong>Cats Of Asia</strong></li>
            <li>
                <a href="{% url 'index' %}">Map</a>
            </li>
        </ul>
    </nav>
    <div style="display: flex; justify-content: center;">
        <div>
            <img src="{% static '404.jpg' %}" alt="the 404 catto from https://http.cat/" />
            <p>&copy; <a href="https://http.cat/">https://http.cat</a></p>
        </div>
    </div>
</main>
</body>
</html>