{#SPDX-FileCopyrightText: 2023 Haiko Schol#}
{#SPDX-License-Identifier: GPL-3.0-or-later#}

{%  load static  %}
<!doctype html>
<html lang="en">
<head>
    <title>Cats Of Asia</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link rel="icon" href="{% static 'apple-touch-icon.png' %}">
    <link rel="apple-touch-startup-image" href="{% static 'apple-touch-icon.png' %}">

    <link rel="stylesheet" href="{% static 'pico-1.5.13.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block styles %}
    {% endblock %}

    {%  block javascript %}
    {% endblock %}
</head>
<body>
<main class="container-fluid">
    <nav>
        <ul>
            <li><strong>Cats Of Asia</strong></li>
            {% block nav %}
            {% endblock %}
            <li>
                <a href="{% url 'index' %}">Map</a>
            </li>
            <li>
                <a href="{% url 'favorites' %}">Favorites</a>
            </li>
        {% if user.is_authenticated %}
            <li>
                <a href="{% url 'upload' %}">Upload</a>
            </li>
        {% endif %}
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</main>
</body>
</html>